/*///
 Basic Colors & Layout Styling
*////

// bold
$grey: rgb(135, 138, 142);
$grey-text: #555;

// dark

// light
$grey-with-blue: rgb(158, 180, 214);
$grey-with-blue-brighter: rgb(118, 157, 216);

// translucent
$grey-with-blue-brighter-rgba8: rgba(118, 157, 216, 0.8);
$light-bright-blue-rgba4: rgba(0, 216, 255, 0.4);
$blue-bold-rgba8: rgba(27, 30, 209, 0.8);
$grey-rgba5: rgba(135, 138, 142, 0.5);
$black-shadow-rgba: rgba(0, 0, 0, 0.075);

// // bold
// $blue-bold: #1b1ed1;
// $blue-with-red: #4816bc;
// $green-background: #05ad18;
// $pink: #F3517D;
// $pink-bold: #ff009d;
// $yellow: #f7f70c;
// $medium-grey: #333;
// // dark
// $black-with-blue: #010e23;
// $black-with-green: #000c01;
// $black-with-red: #190002;
// // light
// $light-blue: #8bb5f9;
// $light-green: #00ff15;
// $light-red: #fc747f;
// $light-yellow: #f2ff49;
// $light-grey: #dee3ea;
// // translucent
// $blue-bold-rgba6: rgba(27, 30, 209, 0.6);
// $blue-bold-rgba8: rgba(27, 30, 209, 0.8);
// $light-green-rgba: rgba(0, 255, 21, 0.8);
// $pink-rgba: rgba(255, 0, 157, 0.8);
// $red-pink-rgba: rgba(255, 0, 59, 0.8);
// $yellow-rgba: rgba(247, 247, 12, 0.8);

.blue-background {
  background-color: $grey-with-blue;
}

.main-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box-shadow {
  -webkit-box-shadow: inset 0 1px 1px $black-shadow-rgba;
  box-shadow: inset 0 1px 1px $black-shadow-rgba;
  -webkit-transition: border-color ease-in-out 0.15s,-webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
}

/*///
 Basic Elements Styling
*////

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @extend .blue-background;
  @extend .main-font;

  a, a:hover, a:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  div {
    text-align: center;
  }

  hr {
    border-width: 0;
  }

  img {
    width: 100%;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  nav {
    display: block;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td, th {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .div-img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

/*///
 Buttons
*////

  .btn {
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    @include border-radius(4px);
  }

  .btn-small {
    @extend .btn;
    font-size: 18px;
    padding: 14px 20px;
    width: initial;
    height: initial;
  }

  //// Button Colors ////

  .btn-success {
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  .btn-success:hover, .btn-success:focus {
    color: white;
    background-color: #449d44;
    border-color: #398439;
  }

  .btn-primary {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .btn-primary:hover, .btn-primary:focus {
    color: white;
    background-color: #286090;
    border-color: #204d74;
  }

  .btn-danger {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .btn-danger:hover, .btn-danger:focus {
    color: white;
    background-color: #c9302c;
    border-color: #ac2925;
  }

/*///
 Headings
*////

  h1 {
    font-size: 36px;
    margin: .67em 0;
  }

  h3 {
    font-size: 24px;
  }

  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  // .basic-div-main-title {
  //   position: relative;
  //   width: 100%;
  //   margin: 30px auto 0 auto;
  // }

  // .basic-div-links {
  //   background-color: $black-with-red;
  //   padding: 14px 20px 14px 20px;
  //   text-align: center;
  // }

  // .basic-textbox {
  //   max-width: 650px;
  //   margin: 0 auto;

  //   .li-add-padding-bottom-5 {
  //     padding-bottom: 5px;
  //   }

  //   .li-add-padding-bottom-10 {
  //     padding-bottom: 10px;
  //   }

  //   .li-add-padding-bottom-20 {
  //     padding-bottom: 20px;
  //   }

  //   .li-add-padding-bottom-40 {
  //     padding-bottom: 40px;
  //   }

  //   .li-remove-padding-bottom {
  //     padding-bottom: 0;
  //   }

  // }

/* pseudo elements */

  .btn-group-vertical>.btn-group::after, .btn-group-vertical>.btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    display: table;
    content: " ";
  }

  .btn-group-vertical>.btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
  }

/* grid system */

  .container, .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }

    .lg-clearfix::after {
      display: table;
      content: " ";
      clear: both;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  @for $i from 1 through 12 {
    //small
    @media screen and (min-width : 768px) and (max-width: 991px) {
      .col-sm-#{$i} {
        width: percentage($i / 12);
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    // medium
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .col-md-#{$i} {
        width: percentage($i / 12);
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    // large
    @media screen and (min-width: 1200px) {
      .col-lg-#{$i} {
        width: percentage($i / 12);
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

}
