/*///
 Main Components
*////

body {

/*///
 MAIN (Footer) Styling
*////

  .footer-container-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  .footer-text {
    @extend .main-font;
    background-color: $blue-bold-rgba8;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }

/*///
 AUTHFORM Styling
*////

// .auth-form-container {
//   height: 400px;
// }


/*///
 CREATOR Styling
*////

  .div-release-main-img {
    position: relative;
    text-align: center;
  }

  .release-main-img {
    width: auto;
    height: 300px;
  }

  .release-main-img-crop {
    margin: 0 auto;
    width: 80%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

/*///
 Form Styling
*////

  .form-container {
    table {
      margin: 0 auto;
    }
  }

  .input-basic {
    div {
      display: inherit;
    }

    input, textarea {
      width: 726px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 16px;
    }

    label {
      width: 160px;
    }
  }

  .checkbox-basic {
    padding-left: 15px;

    div {
      display: inline-block;
    }

    input {
      margin-left: 10px;
    }
  }

  .div-submit-button {
    button {
      display: block;
      margin: 0 auto;
    }
  }

/*///
 PREVIEW Styling
*////

  .preview-component {
    p {
      background-color: transparent;
      border: 0;
      color: black;
      width: 700px;
      margin: 0 auto;
      -webkit-appearance: textarea;
      -webkit-rtl-ordering: logical;
      user-select: text;
      flex-direction: column;
      cursor: auto;
      white-space: pre-wrap;
      word-break: normal;
      word-wrap: normal;
      resize: auto;
      text-align: left;
    }

    span {
      display: block;
      margin-bottom: 20px;
    }

    .header-date, .header-location {
      margin-bottom: 0;
    }

    .div-header-release {
      margin-bottom: 20px;
    }
  }

}
